# EDA

- Predicting Optimal Fertilizers / June 2025 Kaggle Playground Series. Select the best fertilizer for different weather, soil conditions and crops!

##### Evaluation

MAP@3 -> Put score depends on how they could predict well. For example, if the answer is on the first of prediction 1.0 score, second of prediction then 0.5 score, third of prediction then 0.3 score, if there is no answer on predictions, then 0 score. It often has been used in recommendation algorithm and Searching Information Algorithm

In [2]:
# Let's see the data first!
from matplotlib import pyplot as plt
from matplotlib import rcParams
from pathlib import Path
import seaborn as sns
import pandas as pd
import numpy as np
import warnings

rcParams['figure.figsize'] = (16,8)
plt.style.use('fivethirtyeight')
pd.set_option('display.max_columns', 100)
pd.set_option('display.precision', 4)
warnings.simplefilter('ignore')

file_dir = Path('../data/')
sub_dir = Path('../sub/')

trn_file = file_dir / 'train.csv'
tst_file = file_dir / 'test.csv'
sub_file = sub_dir / 'sample_submission.csv'

trn = pd.read_csv(trn_file, index_col = 0)
tst = pd.read_csv(tst_file, index_col = 0)

In [3]:
trn.shape

(750000, 9)

First of all, I want to see how data looks like. So, I use shape, and it seems like it has 750000 samples with 9 columns. Let's see more detail

In [4]:
trn.head()

,Temparature,Humidity,Moisture,Soil Type,Crop Type,Nitrogen,Potassium,Phosphorous,Fertilizer Name
id,,,,,,,,,
0,37,70,36,Clayey,Sugarcane,36,4,5,28-28
1,27,69,65,Sandy,Millets,30,6,18,28-28
2,29,63,32,Sandy,Millets,24,12,16,17-17-17
3,35,62,54,Sandy,Barley,39,12,4,10-26-26
4,35,58,43,Red,Paddy,37,2,16,DAP